<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            load.link :: {{if .Success}}Installed{{else}}Installer{{end}}
        </title>
        {{if .Success}}
        <meta http-equiv="refresh" content="3;url={{.PanelPath}}" />
        {{end}}
        <link href="/theme.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <a href="javascript: document.location.reload(true);"
                >load<em>link</em></a
            >
        </header>
        {{template "installer_body.html" .}}
        <script src="/theme.js"></script>
    </body>
</html>
